html {
  height: 100%; font-size:initial;
}

body {
    background-image: url(../img/tb.JPG); 
    background-color: #ff6600; 
    background-size: cover;
    height: 100%;
}

/* Trials and errors - En-tête adaptative */

header {
    background-color: rgba(225,220,30,.6);
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .25rem;
    display: flex;
    flex-flow: row wrap;
}

header img{
    float: left;
    height: 10vh;
    display: inline-block;
    border-radius: 100%;
    box-shadow: 1px 1px 1px black;
}

nav{
    height: 10vh;
    text-align: center;
    margin:auto;
    list-style: none;
}

nav ul{
    text-align: left;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-flow: row wrap;    
    margin: 0;
}

nav li{
	display: inline-block;
    text-align: center;
    padding: 1vw;
    margin: 0 5vw 0 0;
}

nav a:hover {
    color: red;
    text-shadow: .1rem .1rem .1rem black;
    font-size: 150%;    
}

nav a{
	vertical-align: middle;
	text-decoration: none;
    color: white;
}

main{
	position: absolute;
	top:25%;
	left: 25%;
	width: 50%;
	
}

main img{
	display: block;
	width: 80%;
    margin: auto;
    border-radius: 100%;
    opacity: 0.3;
}

footer {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    background-color:rgba(128,128,128,0.5);
	color: red;
	text-shadow: 1px 1px 1px yellow;
    text-align: center;
}